<header class="top_panel_wrap top_panel_style_7 scheme_original">
    <div class="top_panel_wrap_inner top_panel_inner_style_7 top_panel_position_over">

        <div class="top_panel_middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 contact_logo">
                        <div class="logo">
                            <a href="">
                                <img src="/images/logo-black.png" class="logo_main" alt="">
                                <img src="/images/logo-sticky.png" class="logo_fixed" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-10 menu_main_wrap">
                        <!--<?php if (Url::current() == '/site/index') : ?> -->
                        <!--                        <div class="menu_main_cart top_panel_icon">-->
                        <!--                            <a href="#" class="top_panel_cart_button" data-items="0" data-summa="&euro;0.00">-->
                        <!--                                <span class="contact_icon icon-shopping-cart13"></span>-->
                        <!--                                <span class="contact_label contact_cart_label">Your cart:</span>-->
                        <!--								<span class="contact_cart_totals">-->
                        <!--									<span class="cart_items">0 Items</span>-->
                        <!--									--->
                        <!--									<span class="cart_summa">&euro;0.00</span>-->
                        <!--								</span>-->
                        <!--                            </a>-->
                        <!--                            <ul class="widget_area sidebar_cart sidebar">-->
                        <!--                                <li>-->
                        <!--                                    <div class="widget woocommerce widget_shopping_cart">-->
                        <!--                                        <div class="hide_cart_widget_if_empty">-->
                        <!--                                            <div class="widget_shopping_cart_content">-->
                        <!--                                                <ul class="cart_list product_list_widget">-->
                        <!--                                                    <li class="empty">No products in the cart.</li>-->
                        <!--                                                </ul>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                        <!--<?php endif ?> -->
                        <!--                        <div class="search_wrap search_style_regular search_state_closed">-->
                        <!--                            <div class="search_form_wrap">-->
                        <!--                                <form role="search" method="get" class="search_form" action="#">-->
                        <!--                                    <button type="submit" class="search_submit icon-search" title="Open search"></button>-->
                        <!--                                    <input type="text" class="search_field" placeholder="Search" value="" name="s" />-->
                        <!--                                </form>-->
                        <!--                            </div>-->
                        <!--                            <div class="search_results widget_area scheme_original">-->
                        <!--                                <a class="search_results_close icon-cancel"></a>-->
                        <!--                                <div class="search_results_content"></div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                        <a href="#" class="menu_main_responsive_button icon-menu"></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>