{% load staticfiles %}

<section>
    <div class="container">
        <div class="slider_wrap slider_fullscreen slider_engine_revo slider_alias_slider3">
            <div id="mainslider_3" class="rev_slider_wrapper fullscreen-container mainslider_3">
                <!-- START REVOLUTION SLIDER 5.2.5 fullscreen mode -->
                <div id="rev_slider_14_1" class="rev_slider fullscreenbanner" data-version="5.2.5">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-40" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                            data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/slider311-100x50.jpg"
                            data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
                            data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                            data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="{% static 'site/img/slider21.jpg' %}" alt="" title="slider311" width="1920" height="901" data-bgposition="center center" data-bgfit="cover"
                                data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption ms3_s1_logo tp-resizeme" id="slide-40-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['top','top','top','top']" data-voffset="['290','290','290','260']" data-width="none"
                                data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:800;e:Power2.easeInOut;"
                                data-transform_out="opacity:0;s:800;" data-start="1300" data-responsive_offset="on" data-end="899500">
                                <!--                        <img src="/images/dummy.png" alt="" width="81" height="57"-->
                                <!--                             data-ww="['81px','81px','81px','81px']" data-hh="['57px','57px','57px','57px']"-->
                                <!--                             data-lazyload="/images/slider21_logo.png" data-no-retina>-->
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-38" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                            data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/images/slider22-100x50.jpg"
                            data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
                            data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                            data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="/images/dummy.png" alt="" title="slider22" width="1920" height="695" data-lazyload="{% static 'site/img/slider22.jpg' %}" data-bgposition="center center"
                                data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption ms2_s2_logo tp-resizeme" id="slide-38-layer-1" data-x="['left','left','left','left']" data-hoffset="['0','0','40','40']"
                                data-y="['top','top','top','top']" data-voffset="['96','96','96','96']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:700;e:Power2.easeInOut;"
                                data-transform_out="opacity:0;s:700;" data-start="800" data-responsive_offset="on" data-end="899600">
                                <img src="/images/dummy.png" alt="" width="185" height="122" data-ww="['185px','185px','185px','185px']" data-hh="['122px','122px','122px','122px']"
                                    data-lazyload="/images/slider22_logo.png" data-no-retina>
                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption White_big ms2_s2_title tp-resizeme" id="slide-38-layer-2" data-x="['left','left','left','left']" data-hoffset="['0','0','40','40']"
                                data-y="['top','top','top','top']" data-voffset="['245','245','245','245']" data-width="none"
                                data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:1100;e:Power2.easeInOut;"
                                data-transform_out="opacity:0;s:700;" data-start="1300" data-splitin="none" data-splitout="none"
                                data-responsive_offset="on" data-end="899600">Reach for a healthier
                                <br/> you with organic foods.
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption Text16_norm ms2_s2_text tp-resizeme" id="slide-38-layer-3" data-x="['left','left','left','left']"
                                data-hoffset="['0','0','40','40']" data-y="['top','top','top','top']" data-voffset="['407','407','407','407']"
                                data-width="600" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="opacity:0;s:700;e:Power2.easeInOut;"
                                data-transform_out="opacity:0;s:700;" data-start="2000" data-splitin="none" data-splitout="none"
                                data-responsive_offset="on" data-end="899600">Browse our pages for certified organic and gluten free products. Get healthier and healthier
                                each day.
                            </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption Text16_norm ms2_s2_button  tp-resizeme" id="slide-38-layer-4" data-x="['left','left','left','left']"
                                data-hoffset="['0','0','40','40']" data-y="['top','top','top','top']" data-voffset="['522','522','522','522']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:2500;e:Power3.easeOut;"
                                data-transform_out="opacity:0;s:2500;" data-start="2800" data-splitin="none" data-splitout="none"
                                data-responsive_offset="on" data-end="897800">
                                <a href="#" class="sc_button sc_button_round sc_button_style_filled sc_button_scheme_original sc_button_size_medium">shop now
                                </a>
                            </div>
                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption Text16_norm ms2_s2_button  tp-resizeme" id="slide-38-layer-7" data-x="['left','left','left','left']"
                                data-hoffset="['161','161','200','200']" data-y="['top','top','top','top']" data-voffset="['522','522','522','522']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:3500;e:Power3.easeOut;"
                                data-transform_out="opacity:0;s:2500;" data-start="2400" data-splitin="none" data-splitout="none"
                                data-responsive_offset="on" data-end="897800">
                                <a href="#" class="sc_button sc_button_round sc_button_style_filled sc_button_scheme_dark sc_button_size_medium">discover</a>
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-39" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                            data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/images/slider23-100x50.jpg"
                            data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
                            data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                            data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="/images/dummy.png" alt="" title="slider23" width="1920" height="695" data-lazyload="{% static 'site/img/slider23.jpg' %}" data-bgposition="center center"
                                data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption  ms2_s3_logo tp-resizeme" id="slide-39-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['top','top','top','top']" data-voffset="['107','107','107','107']" data-width="none"
                                data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:700;e:Power2.easeInOut;"
                                data-transform_out="opacity:0;s:700;" data-start="900" data-responsive_offset="on" data-end="899600">
                                <img src="/images/dummy.png" alt="" width="199" height="159" data-ww="['199px','199px','199px','199px']" data-hh="['159px','159px','159px','159px']"
                                    data-lazyload="/images/slider23_logo.png" data-no-retina>
                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption White_big ms2_s3_title tp-resizeme" id="slide-39-layer-2" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['285','285','285','285']"
                                data-fontsize="['93','93','74','66']" data-lineheight="['93','93','93','90']" data-width="none"
                                data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1300;e:Power2.easeInOut;"
                                data-transform_out="opacity:0;s:1300;" data-start="1300" data-splitin="none" data-splitout="none"
                                data-responsive_offset="on" data-end="899000">
                                Organic & Natural
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption Text16_norm ms2_s3_text tp-resizeme" id="slide-39-layer-3" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['385','385','385','385']"
                                data-width="690" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
                                data-transform_out="opacity:0;s:1000;" data-start="1800" data-splitin="none" data-splitout="none"
                                data-responsive_offset="on" data-end="899300" style="">As the nationally certified organic grocer in the country, we are offering you the biggest and
                                best choice we possibly can.
                            </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption Text16_norm ms2_s3_button tp-resizeme" id="slide-39-layer-4" data-x="['center','center','center','center']"
                                data-hoffset="['-81','-81','-81','-81']" data-y="['top','top','top','top']" data-voffset="['508','508','508','508']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:700;e:Power2.easeInOut;"
                                data-transform_out="opacity:0;s:700;" data-start="2400" data-splitin="none" data-splitout="none"
                                data-responsive_offset="on" data-end="899600">
                                <a href="#" class="sc_button sc_button_round sc_button_style_filled sc_button_scheme_original sc_button_size_medium">shop now
                                </a>
                            </div>
                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption Text16_norm ms2_s3_button tp-resizeme" id="slide-39-layer-5" data-x="['center','center','center','center']"
                                data-hoffset="['77','77','77','77']" data-y="['top','top','top','top']" data-voffset="['508','508','508','508']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:700;e:Power2.easeInOut;"
                                data-transform_out="opacity:0;s:700;" data-start="2400" data-splitin="none" data-splitout="none"
                                data-responsive_offset="on" data-end="899600">
                                <a href="#" class="sc_button sc_button_round sc_button_style_filled sc_button_scheme_crimson sc_button_size_medium">discover</a>
                            </div>
                        </li>
                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </div>
</section>