{% extends "base.html" %} 

{% load staticfiles %} 
{% load crispy_forms_tags %}

{% block title %}
{{ block.super }} Home {% endblock%} 

{% block navbar-left %} 
{% include "_navbar.html" with active_link="home" %}
{% endblock %} 

{% block navbar-right %} 

{% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
{% else %} 
{{ block.super }} 
{% endif %} 
{% endblock %} 
{% block splash %}
<div class="page body_filled article_style_stretch top_panel_over sidebar_hide main_page">
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>

            <!--<?= $this->render('@partials/menu.php') ?>
            <?= $this->render('@partials/menu_mobile.php') ?> -->

            <div class="page_content_wrap page_paddings_no">
                <div class="content_wrap">
                    <div class="content">
                        <article class="post_item post_item_single page">
                            <div class="post_content">
                            <!-- <?= $this->render('@partials/slider.php') ?> -->
                             {% include "_slider.html" %}
                        </div>
                    </article>
                </div>
            </div>
        </div>

    </div>

</div>
</div>
{% endblock splash %} 

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>
{% endblock container %} 

{% block footer %}
{% endblock %}