{% extends "base.html" %} 

{% load staticfiles %} 
{% load crispy_forms_tags %}
{% load sitetree %}
{% load i18n %}

{% block title %}
{{ block.super }} Home {%endblock%} 

{% block navbar-left %} {% include "_navbar.html" with active_link="home" %} {% endblock %} 

{% block navbar-right%} 
{% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
{% else %} 
{{ block.super }} 
{% endif %} 
{% endblock %} 
{% block splash %}

<body class="page body_filled article_style_stretch top_panel_above sidebar_hide">

    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>

            <header class="top_panel_wrap top_panel_style_4 scheme_original">
                <div class="top_panel_wrap_inner top_panel_inner_style_4 top_panel_position_above">
                    <!-- {% include "_menu.html" %}
                    <!-- <?= $this->render('@partials/topbar.php') ?>
                    <?= $this->render('@partials/menu_shop.php') ?>
                    <?= $this->render('@partials/menu_mobile.php') ?> -->
                </div>
            </header>

            <div class="page_content_wrap page_paddings_no">
                <div class="content_wrap">
                    <div class="content">
                        <article class="post_item post_item_single page">
                            <div class="post_content">

                                {% include "_slider.html" %}
                                {% include "_carrousel.html" with title="Best Selling Products" products=products_best_selling grid="esg-grid-19-1" nav="esg-fgc-19" %}

                                <section>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="sc_section banner_big_bg_3 banner_big_block h252" data-animation="animated fadeIn normal">
                                                    <div class="sc_section_inner">
                                                        <div class="sc_section_overlay">
                                                            <div class="sc_section_content">
                                                                <div class="columns_wrap sc_columns columns_nofluid no_margins sc_columns_count_2">
                                                                    <div class="column-1_2 sc_column_item sc_column_item_1 odd first">
                                                                    </div>
                                                                    <div class="column-1_2 sc_column_item sc_column_item_2 right even">
                                                                        <h3 class="sc_title">GIFT certificates</h3>
                                                                        <p>Give the perfect gift every time &#8211; Organic
                                                                            Store gift certificates!</p>
                                                                        <a href="#" class="sc_button sc_button_round sc_button_style_filled sc_button_scheme_original sc_button_size_medium">CLICK
                                                                            TO ORDER</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="sc_section banner_big_bg_4 banner_big_block h252" data-animation="animated fadeIn normal">
                                                    <div class="sc_section_inner">
                                                        <div class="sc_section_overlay">
                                                            <div class="sc_section_content">
                                                                <div class="columns_wrap sc_columns columns_nofluid no_margins sc_columns_count_2">
                                                                    <div class="column-1_2 sc_column_item sc_column_item_1 odd first">
                                                                    </div>
                                                                    <div class="column-1_2 sc_column_item sc_column_item_2 right even">
                                                                        <h3 class="sc_title">GIFT certificates</h3>
                                                                        <p>Give the perfect gift every time &#8211; Organic
                                                                            Store gift certificates!</p>
                                                                        <a href="#" class="sc_button sc_button_round sc_button_style_filled sc_button_scheme_original sc_button_size_medium">CLICK
                                                                            TO ORDER</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                {% include "_carrousel.html" with title="Featured Products" products=products_best_selling grid="esg-grid-18-1" nav="esg-fgc-18" %}

                                <section>
                                    <div>
                                        <div class="sc_section imgc section_img_1">
                                            <div class="sc_section_inner">
                                                <div class="sc_section_overlay">
                                                    <div class="sc_section_content">
                                                        <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
                                                            <div class="column-1_2 sc_column_item sc_column_item_1 odd first">
                                                            </div>
                                                            <div class="column-1_2 sc_column_item sc_column_item_2 even">
                                                                <h3 class="sc_title sc_title_style_2 sc_align_center">WHEN
                                                                    QUALITY MATTERS TO YOU<br /> AND YOUR CUSTOMERS</h3>
                                                            </div>
                                                        </div>
                                                        <div class="es_230"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="spt_40 spb_75 mt_30 mb_20">
                                    <div>
                                        <div class="columns_wrap">
                                            {% include "_column.html" with title="New Products" %}
                                            {% include "_column.html" with title="Top Sellers" %}
                                            {% include "_column.html" with title="Sale Products" %}
                                            {% include "_column.html" with title="Top Rate" %}
                                        </div>
                                    </div>
                                </section>

                                <section class="spb_25">
                                    <div class="content_padder">
                                        <div class="columns_wrap">
                                            <div class="col-md-4">
                                                <div class="sc_section banner_small_bg_1 banner_block" data-animation="animated fadeInUp normal">
                                                    <div class="sc_section_inner">
                                                        <div class="sc_section_overlay">
                                                            <div class="sc_section_content">
                                                                <span class="sc_icon icon-smiley3 alignleft"></span>
                                                                <h4 class="sc_title sc_title_regular">Sale! Up to 50% off</h4>
                                                                <p>For all products only NOW</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="sc_section banner_small_bg_2 banner_block" data-animation="animated fadeInUp normal">
                                                    <div class="sc_section_inner">
                                                        <div class="sc_section_overlay">
                                                            <div class="sc_section_content">
                                                                <span class="sc_icon icon-airplane116 alignleft"></span>
                                                                <h4 class="sc_title sc_title_regular">FREE SHIPPING</h4>
                                                                <p>For all orders over $100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="sc_section banner_small_bg_3 banner_block" data-animation="animated fadeInUp normal">
                                                    <div class="sc_section_inner">
                                                        <div class="sc_section_overlay">
                                                            <div class="sc_section_content">
                                                                <span class="sc_icon icon-like83 alignleft"></span>
                                                                <h4 class="sc_title sc_title_regular">Money back</h4>
                                                                <p>If the item didn&#8217;t suit you</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                            </div>
                        </article>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>

    {% endblock splash %} {% block container %}
    <a name="about"></a>
    {% endblock container %}